<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cloudpos.apidemoforunionpaycloudpossdk">

    <!--WRITE_EXTERNAL_STORAGE-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <!-- HDMI-CLOUDPOS_CLONESCREEN -->
    <uses-permission android:name="android.permission.CLOUDPOS_CLONESCREEN" />
    <!--D3 ADAPTER-->
    <uses-permission android:name="android.permission.CLOUDPOS_PRINTER_ADAPTER" />
    <!-- CLOUDPOS_PRINTER -->
    <uses-permission android:name="android.permission.CLOUDPOS_PRINTER" />
    <!-- MSR -->
    <uses-permission android:name="android.permission.CLOUDPOS_MSR"/>
    <!-- Contactless card-->
    <uses-permission android:name="android.permission.CLOUDPOS_CONTACTLESS_CARD"/>
    <!-- SmartCard-->
    <uses-permission android:name="android.permission.CLOUDPOS_SMARTCARD"/>
    <!-- Serial port -->
    <uses-permission android:name="android.permission.CLOUDPOS_SERIAL" />
    <!-- LED -->
    <uses-permission android:name="android.permission.CLOUDPOS_LED" />

    <!-- CLOUDPOS_CUSTOMER_DISPLAY -->
    <uses-permission android:name="android.permission.CLOUDPOS_CUSTOMER_DISPLAY" />

    <!-- Pinpad -->
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_GET_PIN_BLOCK"/>
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_MAC" />
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_ENCRYPT_DATA"/>
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_UPDATE_USER_KEY"/>
    <uses-permission android:name="android.permission.CLOUDPOS_PIN_UPDATE_MASTER_KEY"/>

    <!-- Chinese ID -->
    <uses-permission android:name="android.permission.CLOUDPOS_IDCard"/>
    <!-- ACCESS_NETWORK_STATE -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- INTERNET -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- CLOUDPOS_MONEYBOX -->
    <uses-permission android:name="android.permission.CLOUDPOS_MONEYBOX"/>
    <!-- CLOUDPOS_FINGERPRINT -->
    <uses-permission android:name="android.permission.CLOUDPOS_FINGERPRINT"/>
    <!--CLOUDPOS_SIGNATURE-->
    <uses-permission android:name="android.permission.CLOUDPOS_SIGNATURE"/>
    <!--CLOUDPOS_SAFE_MODULE-->
    <uses-permission android:name="android.permission.CLOUDPOS_SAFE_MODULE" />
    <!--SYSTEM_ALERT_WINDOW-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.POSprinter"
        tools:targetApi="31">
        <activity
            android:name="com.devappsys.posprinter.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>